# vim:set syntax=perl:

$CONFIG = {
            'sitename'         => 'unconfigured',

            'my_localpart'     => 'pinger',
            'my_domain'        => 'example.com',
	    'operator_address' => 'remop@example.org',

            #'mixmaster'        => '/home/pinger/Mix/mix',

            'seperate_rlists'  => 0,
            'combined_list'    => 0,
          };
1;
